  
.navbar-collapse{
    display: flex;
    text-align: center;
    margin: 10px;
}
.cursor-pointer{
  cursor: pointer;
}

.btns{
    background-color: purple !important;
    color: white !important; 
    border: 1px solid  purple !important ;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    width: 200px !important;
}